:root { 
--deep_orange_50:#fbe6dc; 
--blue_A400:#1877f2; 
--black_900_3f:#0000003f; 
--green_500:#4caf50; 
--teal_300:#41b4ae; 
--black_900:#000000; 
--deep_orange_502:#ff5d24; 
--yellow_800:#f79e1b; 
--orange_50_cc:#fff5e0cc; 
--deep_orange_500:#ff6828; 
--red_A701:#eb001b; 
--deep_orange_A400:#ff3d00; 
--red_A700:#ff0000; 
--deep_orange_500_4c:#ff68284c; 
--gray_500:#a0a0a0; 
--blue_700:#1976d2; 
--amber_500:#ffc107; 
--orange_A700:#ff5f00; 
--bluegray_100:#d6d1d1; 
--yellow_50:#fef9ee; 
--yellow_50_cc:#fef9eecc; 
--yellow_A700:#ffdc00; 
--gray_100:#f0f2f5; 
--deep_orange_500_e5:#ff6828e5; 
--bluegray_900:#2a2848; 
--cyan_300:#62d3cd; 
--white_A700:#ffffff; 
--deep_orange_500_cc:#ff6828cc; 
}